services:
   my-frontend:
     stdin_open: true
     build:
       context: .
       dockerfile: Dockerfile
     volumes:
       - /usr/src/app/node_modules
     ports:
       - 3000:3000
     environment:
       - CHOKIDAR_USEPOLLING=true