.student-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #F2F2F2;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 25%);
}

.yellow-part-on-top {
  width: 100%;
  height: 13%;
  background-color: #FFF6D8;
  border-radius: 20px 20px 0 0;
}

.profile-icon {
  position: relative;
  width: 120px;
  left: 40px;
  top: -40px;
}

.student-info-content {
  padding: 5px 40px 10px 10px;
  font-size: 16px;
}

.student-info-lines {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.student-info-lines-title {
  flex: 5;
  padding-bottom: 2px;
  margin: 0 0 0 0;
  font-weight: bold;
  text-align: center;
}

.border-style {
  flex: 9;
  border-style: none none outset none;
  border-width: 3px;
  text-align: center;
}

/* Total Watching Time */
.total-watching-time-info {
  width: 100%;
  height: 100%;
  background-color: #D4DADA;
  border-radius: 20px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 50%);
  flex-direction: column;
  padding: 0 20px 20px 20px;
}

.course-info-titles {
  height: 80px;
  display: flex;  
}

.course-info-title-1, .course-info-title-2, .course-info-title-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-info-title-1 {
  margin-left: 8%;
}

.course-info-title-2 {
  margin-left: 14%;
}

.course-info-title-3 {
  margin-left: 18%;
}

.course-info-title-name {
  font-size: 28px;
  font-weight: bold;
  padding-right: 5px;
  color: #595959;
}

.course-info-title-img {
  width: 20px;
  opacity: 0.5;
}

.student-courses-watch {
  height: 550px;
  background-color: #F2F2F2;
  border-radius: 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 50px 35px 0 35px;
}

.lessons-block {
  display: flex;
  margin-bottom: 40px;
}

.lesson-name-and-watchtime {
  width: 50%;
  background-color: #d2d2d2;
  border: white 1px solid;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 25%);
}

.lesson-name {
  flex: 4;
  text-align: center;
}

.divide-line {
  font-size: 44px;
  font-weight: lighter;
  color: #A6A5A5;
  text-align: center;
  flex: 1;
  position: relative;
  bottom: 2px;
}

.lesson-total-watch-time {
  text-align: center;
  font-size: 18px;
  text-align: center;
  flex: 6;
  padding-left: 30px;
}

.watch-time-pr-progress-bar {
  width: 380px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* watching behaviors */
.watching-behaviors-info {
  width: 100%;
  height: 100%;
  background-color: #FFF3F1;
  border-radius: 20px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 50%);
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 70px 55px 70px;
}

.watching-behaviors-info-title {
  background-color: #FFE8C8;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 25%);
  width: 250px;
  text-align: center;
  border-radius: 30px;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  top: 20px;
  left: -50px;
}

.scroll-back-times, .pause-times {
  background-color: #FFFFFF;
  border-radius: 20px;
  height: 225px;
  background-position: 93% 50%;
  background-repeat: no-repeat;
  background-size: 120px 120px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 60px 35px 0 35px;
}

.scroll-back-times {
  background-image: url("/timer.png");
}

.pause-times {
  background-image: url("/pause.png");
}

.behavior-lessons-block {
  display: flex;
  margin-bottom: 50px;
}

.behavior-lesson-name {
  text-align: center;
  background-color: rgba(153, 153, 153, 35%);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 25%);
  border: white 1px solid;
  border-radius: 5px;
  width: 180px;
  padding: 5px 10px 5px 10px;
  font-size: 20px;
}