.vicuna-text-container {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 260px;
    width: 100%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 8%;
    padding-left: 4%;
    /* 字的間距*/
    letter-spacing: 3px;
}

.vicuna-img {
    margin-left: 10px;
    height:95%;
}

.search-content {
    padding: 0 10px 0 10px;
    flex: 6;
}

.search-result {
    font-family: Arial, sans-serif;
    font-size: 16px;
    overflow-y: auto;
    /*
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    */
}

.button-container {
    margin: 50px 0 50px 0;
    width: 100%;
    padding: 0 12% 0 12%;
    display: flex;
    justify-content: flex-end;
}

.control-button {
    font-size: 16px;
    border: black 1px solid;
    border-radius: 5px;
    background-color: white;
    /* position: relative; */
    padding: 8px 14px 8px 14px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 25%);
}

.video-card-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    row-gap: 60px;
    padding: 0 12% 0 12%;
    margin-bottom: 80px;
}

.video-card {
    width: 350px;
    padding: 25px 20px 25px 20px;
    background-color: #e6e6e6;
    border-radius: 15px;
}

.video-thumbnail {
    width: 100%;
    height: auto;
}

.video-srt {
    overflow: auto;
    height: 160px;
    text-align: left;
    border-style: none;
    cursor: pointer;
    background-color: #cdcdcd;
    border-radius: 10px;
    padding: 10px;
}

.srt-content {
    margin-bottom: 10px;
    cursor: pointer;
}

.srt-content:hover {
    color: #FFF1BD;
    text-decoration: underline;
}

/* HTML: <div class="loader"></div> */
.loader {
    --w:10ch;
    margin: auto;
    font-weight: bold;
    font-family: monospace;
    font-size: 20px;
    line-height: 1.4em;
    letter-spacing: var(--w);
    width: var(--w);
    overflow: hidden;
    white-space: nowrap;
    color: #0000;
    text-shadow: 
          calc( 0*var(--w)) 0 #000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) 0 #000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) 0 #000,calc(-6*var(--w)) 0 #000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) 0 #000,calc(-9*var(--w)) 0 #000;
    animation: l20 2s infinite linear;
}

.loader:before {
    content:"Loading...";
}
  
@keyframes l20 {
    9.09% {text-shadow: 
          calc( 0*var(--w)) -10px #000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) 0 #000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) 0 #000,calc(-6*var(--w)) 0 #000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) 0 #000,calc(-9*var(--w)) 0 #000}
    18.18% {text-shadow: 
          calc( 0*var(--w)) 0 #000,calc(-1*var(--w)) -10px #000,calc(-2*var(--w)) 0 #000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) 0 #000,calc(-6*var(--w)) 0 #000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) 0 #000,calc(-9*var(--w)) 0 #000}
    27.27% {text-shadow: 
          calc( 0*var(--w)) 0 #000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) -10px #000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) 0 #000,calc(-6*var(--w)) 0 #000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) 0 #000,calc(-9*var(--w)) 0 #000}
    36.36% {text-shadow: 
          calc( 0*var(--w)) 0 #000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) 0 #000,calc(-3*var(--w)) -10px #000,calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) 0 #000,calc(-6*var(--w)) 0 #000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) 0 #000,calc(-9*var(--w)) 0 #000}
    45.45% {text-shadow: 
          calc( 0*var(--w)) 0 #000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) 0 #000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) -10px #000, 
          calc(-5*var(--w)) 0 #000,calc(-6*var(--w)) 0 #000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) 0 #000,calc(-9*var(--w)) 0 #000}
    54.54% {text-shadow: 
          calc( 0*var(--w)) 0 #000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) 0 #000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) -10px #000,calc(-6*var(--w)) 0 #000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) 0 #000,calc(-9*var(--w)) 0 #000}
    63.63% {text-shadow: 
          calc( 0*var(--w)) 0 #000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) 0 #000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) 0 #000,calc(-6*var(--w)) -10px #000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) 0 #000,calc(-9*var(--w)) 0 #000}
    72.72% {text-shadow: 
          calc( 0*var(--w)) 0 #000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) 0 #000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) 0 #000,calc(-6*var(--w)) 0 #000,calc(-7*var(--w)) -10px #000,calc(-8*var(--w)) 0 #000,calc(-9*var(--w)) 0 #000}
    81.81% {text-shadow: 
          calc( 0*var(--w)) 0 #000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) 0 #000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) 0 #000,calc(-6*var(--w)) 0 #000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) -10px #000,calc(-9*var(--w)) 0 #000}
    90.90% {text-shadow: 
          calc( 0*var(--w)) 0 #000,calc(-1*var(--w)) 0 #000,calc(-2*var(--w)) 0 #000,calc(-3*var(--w)) 0 #000,calc(-4*var(--w)) 0 #000, 
          calc(-5*var(--w)) 0 #000,calc(-6*var(--w)) 0 #000,calc(-7*var(--w)) 0 #000,calc(-8*var(--w)) 0 #000,calc(-9*var(--w)) -10px #000}
}