.vicuna-text-container {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 260px;
    width: 100%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 8%;
    padding-left: 4%;
    /* 字的間距*/
    letter-spacing: 3px;
}

.vicuna-img {
    margin-left: 10px;
    height:95%;
}

.search-content {
    padding: 0 10px 0 10px;
    flex: 6;
}

.search-result {
    font-family: Arial, sans-serif;
    font-size: 16px;
    overflow-y: auto;
    /*
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    */
}

.button-container {
    margin: 50px 0 50px 0;
    width: 100%;
    padding: 0 12% 0 12%;
    display: flex;
    justify-content: flex-end;
}

.control-button {
    font-size: 16px;
    border: black 1px solid;
    border-radius: 5px;
    background-color: white;
    /* position: relative; */
    padding: 8px 14px 8px 14px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 25%);
}

.video-card-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    row-gap: 60px;
    padding: 0 12% 0 12%;
    margin-bottom: 80px;
}

.video-card {
    width: 350px;
    padding: 25px 20px 25px 20px;
    background-color: #e6e6e6;
    border-radius: 15px;
}

.video-thumbnail {
    width: 100%;
    height: auto;
}

.video-srt {
    overflow: auto;
    height: 160px;
    text-align: left;
    border-style: none;
    cursor: pointer;
    background-color: #cdcdcd;
    border-radius: 10px;
    padding: 10px;
}