.video-container {
    display: flex;
    margin: 100px 6% 150px 6%;
}

.video-info {
    flex: 2;
    margin-right: 50px;
}

.video-title {
    margin: 20px 0 30px 0;
    box-shadow: 0px 2px 5px gray;
    text-align: center;
    padding: 10px;
}

.video-name {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

.lesson-info {
    background-color: #FFFCE4;
    padding: 40px 60px 40px 60px;
    text-align: left; 
    border: 1px solid #CFB556;
    border-radius: 40px;
    box-shadow: 0px 3px 5px rgb(104, 104, 104);
}

.lesson-summary-text, .lesson-content-text {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 10px;
}

.lesson-summary, .lesson-content {
    background-color: #FAFAFA;
    height: 200px;
    border: 1px solid #C4C3C3;
    border-radius: 30px;
    margin-bottom: 40px;
    padding: 20px 30px 30px 30px;
    overflow-y: auto;
}

.other-lessons {
    flex: 1;
    background-color: #F2F2F2;
    box-shadow: 0px 3px 5px gray;
    height: 100vh;
    border-radius: 30px;
    padding: 20px;
    text-align: left;
    overflow-y: auto;
}

.relative-videos {
    font-size: 24px;
    margin-left: 10px;
    font-weight: 700;
}

.other-lesson-content {
    width: 100%;
    background-color: rgba(153, 153, 153, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-height: 120px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

.img-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.other-lesson-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}

.other-lesson-info-text {
    margin-bottom: 5px;
}

.now-watching {
    font-weight: bold;
    color: #fff398;
}