.profile-container {
    margin: 100px 10% 300px 10%;
    height: 750px;
    display: flex;
    flex-direction: row;
}

.watching-infos {
    flex: 7;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.switch-watch-info {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#total-watching-time, #watching-situation {
    font-size: 24px;
    font-weight: bold;
    padding: 6px 0 6px 0;
    width: 180px;
    margin-right: 40px;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 25%);
}

#total-watching-time {
    background-color: #D4DADA;
}

#watching-situation {
    background-color: #FFF3F1;
}

.behavior-infos {
    flex: 9;
    margin-top: 10px;
}
