.navbar-design {
    background: linear-gradient(to bottom, rgba(255, 149, 125, 0.7), rgba(251, 178, 162, 0.3));
    padding-top: 0;
    padding-bottom: 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
}

.navbar-design:hover {
    cursor: pointer;
}

.navbar-llama {
    width: 72px;
    height: 72px;
    display: inline-block;
    position: absolute;
    top: -2px;
    filter: invert(100%); 
}

.navbar-title {
    display: inline;
    color: white;
    font-size: 45px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
     margin-left: 120px;
    margin-bottom: 0;
}

.search-form-design {
    height: 40px;
    width: 500px;
    border-radius: 10px;
    border: #FF9882 4px solid;
    padding-right: 5px;
}

.search-button {
    background-color: #FF9882;
    border-radius: 8px;
    border: none;
    position: relative;
    left: -15px;
}

.search-icon {
    width: 50px;
    height: 50px;
    filter: invert(100%);
}

.user-icon {
    filter: invert(100%);
    width: 60px;
    height: 60px;
}

.user-icon:hover {
    filter: grayscale(10%);
    opacity: 0.6;
}

.user-btn {
    border: none;
    background: unset;
}

.dropDownProfile {
    position: absolute;
    top: 5.5rem;
    right: 1.3rem;
    width: 130px;
    padding: 15px 10px 15px 10px;
    border-radius: 8px;
    background-color: white;
    border: 1px solid gray;
}

.dropDownProfile ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropDownProfile ul li {
    padding: 10px 12px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropDownProfile ul li:hover {
    background-color: #FFF1C0;
    cursor: pointer;
}

.dropDownProfile ul li:active {
    background-color: #fab1a0;
}

.dropDownProfile::before {
    content: '';
    position: absolute;
    top: -0.7rem;
    right: 1.1rem;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: white;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
}