.login-container {
    width: 100%;
    margin-bottom: 100px;
}

.login-img {
    width: 100%;
}

.features-title {
    font-weight: bold;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 60px;
    margin-bottom: 120px;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 0 8% 0 8%;
    margin-bottom: 150px;
}

.feature-card {
    position: relative;
    padding-top: 55px;
    background-color: rgba(226, 226, 226, 0.49);
    width: 20%;
    height: auto;
    border-radius: 15px;
}

.feature-card-body {
    padding: 0 30px 0 30px;
    margin-top: 20px;
}

.feature-card-title {
    margin-bottom: 30px;
    text-align: left;
}

.feature-card-text {
    font-style: italic;
    font-size: 18px;
    color: #818181;
    text-align: left;
}

.feature-circles {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    position: absolute;
    left: 16px;
    top: -20px;
}

.circle-img-1 {
    background-color: #799795;
}

.circle-img-2 {
    background-color: #9F6F6F;
}

.circle-img-3 {
    background-color: #787878;
}

.circle-img-4 {
    background-color: #CDC196;
}