.modal-header {
    background: linear-gradient(to bottom, rgb(255, 149, 125), rgb(251, 178, 162));
    padding: 0 6px 0 0;
}

.modal-title {
    color: white;
    font-weight: bold;
    font-size: 30px;
    font-family: Garamond, serif;
}

.modal-header-img {
    width: 50px;
    filter: invert(100%);
    position: relative;
    top: 0px;
}

.modal-close-btn {
    border: white 5px solid;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #FF9780;
    border-radius: 20px;
}

.llama-img {
    width: 60%;
    display: block;
    margin: auto;
    opacity: 0.6;
}

.input-content {
    padding-left: 40px;
    padding-right: 40px;
    margin: 30px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.username-input, .password-input {
    border: none;
    border-bottom: black 4px solid;
    display: block;
    outline: none;
    width: 100%;
    font-size: 20px;
    margin-bottom: 20px;
}

.login-button {
    display: block;
    margin: auto;
    background-color: #FF9781;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 24px;
    color: white;
    border: none;
    border-radius: 30px;
}